@import '/src/components/variables.scss';

.header{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:$header-back-color;
    color: $header-font-color;
    h1{
        font-weight: bold;
        font-style: italic;
        font-size: 45px;
    }
}

